<div id="sidebar-wrapper" class="black-bg grey-color" style="height: 100%">
  <hr class="m-0 grey-color mb-2" />
  <div >
    <app-list-channels></app-list-channels>
    <hr class="w-100 m-0 grey-color my-2" />
    <div>
      <li class="nav-item">
        <a routerLink="clients" class="nav-link">Ayoub (you)</a>
      </li>
      <li class="nav-item">
        <a routerLink="clients/add" class="nav-link">Boryana</a>
      </li>
      <li class="nav-item">
        <a routerLink="orders" class="nav-link">Virginie</a>
      </li>
      <li class="nav-item">
        <a routerLink="orders/add" class="nav-link">Jérome</a>
      </li>
      <li class="nav-item">
        <a routerLink="dzdzdzdz" class="nav-link">Andgel</a>
      </li>
    </div>
  </div>
</div>
