<div id="sidebar-wrapper" class="black-bg grey-color" style="height: 100%">
  <ul class="navbar flex-column">
    <a class="navbar-brand grey-color" href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#8d99ae"
        class="bi bi-plus-square-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"
        />
      </svg>
      Channels
    </a>

    <hr class="w-100 m-0 grey-color my-2" />

    <div>
      <li class="nav-item">
        <a routerLink="clients" class="nav-link"># Clients</a>
      </li>
      <li class="nav-item">
        <a routerLink="clients/add" class="nav-link"># Add Client</a>
      </li>
      <li class="nav-item">
        <a routerLink="orders" class="nav-link"># Orders</a>
      </li>
      <li class="nav-item">
        <a routerLink="orders/add" class="nav-link"># Add Order</a>
      </li>
      <li class="nav-item">
        <a routerLink="dzdzdzdz" class="nav-link"># Error</a>
      </li>
    </div>
    <hr class="w-100 m-0 grey-color my-2" />
    <button
      class="btn btn-toggle align-items-center rounded collapsed"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
      aria-expanded="false"
    >
      Dashboard
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
        labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </ul>
</div>
