.custom-modal-header {
  background-color: #2b2d42;
  color: white;
}

.custom-modal-body {
  background-color: #edf2f4;
  color: #5a5c69;
}

.custom-modal-footer {
  background-color: #2b2d42;
  color: #6c757d;
}

.custom-confirm-button {
  background-color: #e7287d;
  color: white;
}

.font-weight-500 {
  font-weight: 500;
}

.custom-button {
  display: inline-block;
  color: aliceblue;
  padding-bottom: 2px;
  background-image: linear-gradient(#ffffff 0 0);
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.custom-button:hover {
  background-position: 100% 100%; 
  background-size: 100% 2px;
}
