test
<!-- Exemple d'un bouton pour ouvrir une modale -->
<button type="button" class="btn custom-confirm-button" (click)="openModal(mainModale)">Supprimer un élément</button>

<ng-template #mainModale>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title">Validation Suppression</h5>
        <button type="button" class="btn-close custom-close-button" aria-label="Close" (click)="modalRef?.hide()">
        </button>
      </div>
      <div class="modal-body custom-modal-body">
        Êtes vous sûr de vouloir supprimer cet élément ?
      </div>
      <div class="modal-footer custom-modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">En fait non</button>
        <button type="button" class="btn custom-confirm-button">J'en suis sûr !</button>
      </div>
    </div>
  </div>
</ng-template>
