<form *ngIf="formUser" [formGroup]="formUser">

  <div class="mb-3">
    <label for="username" class="form-label">Nom d'utilisateur</label>
    <input formControlName="username" type="text" class="form-control" id="username" placeholder="username">
    <span *ngIf="formUser.controls['username'].errors?.['required'] &&
      formUser.controls['username'].touched" class="text-danger">Veuillez choisir un nom d'utilisateur
    </span>
  </div>

  <div class="mb-3">
    <label for="firstName" class="form-label">Nom</label>
    <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="firstName">
  </div>

  <div class="mb-3">
    <label for="lastName" class="form-label">Prénom</label>
    <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="lastName">
  </div>

  <button [disabled]="!formUser.valid" (click)="save()" type="button" class="btn btn-primary">Créer mon compte</button>

</form>

