<nav class="navbar navbar-expand-sm navbar-dark black-bg">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" routerLink="">
      <img
        src="assets/img/synergy.png"
        width="30"
        height="30"
        alt="synergy logo"
      />
      Synergy
    </a>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item d-flex">
        <!-- <a routerLink="clients" class="nav-link">Ayoub</a> -->
        <app-login-users class="nav-link"></app-login-users>
        <app-register-users class="nav-link"></app-register-users>
      </li>
    </ul>
  </div>
</nav>
