<nav id="header-wrapper" class="navbar navbar-expand navbar-dark black-bg">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" routerLink="">
      <img
        src="assets/img/synergy.png"
        width="30"
        height="30"
        alt="synergy logo"
      />
      Synergy
    </a>
    <!--  <div *ngIf="dataLoad"> -->
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item d-flex">
        <a *ngIf="currentUser; else elseBlock" class="nav-link">{{
          currentUser.username
        }}</a>
        <ng-template #elseBlock
          ><app-login-users class="nav-link"></app-login-users>
          <app-register-users class="nav-link"></app-register-users
        ></ng-template>
      </li>
      <li class="nav-item d-flex">
        <button
          *ngIf="currentUser"
          type="button"
          class="btn mx-0 p-1"
          (click)="logout()"
        >
          <i class="bi bi-power"></i>
        </button>
      </li>
    </ul>
    <!-- </div> -->
  </div>
</nav>
