<nav class="navbar navbar-expand-lg navbar-dark black-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/synergy.png"
        width="30"
        height="30"
        alt="synergy logo"
      />
      Synergy
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item d-flex">
          <!-- <a routerLink="clients" class="nav-link">Ayoub</a> -->
          <app-login-users></app-login-users>
        </li>
      </ul>
    </div>
  </div>
</nav>
