@media (min-width: 768px) {
  #header-wrapper {
    max-height: 50px;
    min-height: 50px;
  }
}

@media (max-width: 767.98px) {
  #header-wrapper {
    max-height: 40px;
    min-height: 40px;
  }
}
.bi-power {
  color: white;
}
