<div class="d-flex flex-column align-items-start">
  <ul class="m-0">
    <li
      (mouseenter)="addStyleHover($event)"
      (mouseleave)="removeStyleHover($event)"
      *ngFor="let user of usersList"
      class="nav-item"
    >
      <a *ngIf="connected" routerLink="messages/{{user.id}}" class="nav-link">{{ user.username }}
        <span *ngIf="currentUser && currentUser.id == user.id" class="">(You)</span>
      </a>
      <a *ngIf="!connected" class="nav-link">{{ user.username }}</a>
    </li>
  </ul>
</div>
