<div>
  <h1 *ngIf="currentChannel && !isChannelNameEdit">
    {{ currentChannel.name }}
  </h1>
  <app-edit-channel
    *ngIf="isChannelNameEdit"
    (closeEditChannelFormEmmitter)="isChannelNameEdit = false"
  ></app-edit-channel>

  <button
    *ngIf="currentUser && !currentChannel!.default && !isChannelNameEdit"
    (click)="showEditChannelForm()"
    [disabled]="isChannelNameEdit"
    class="btn btn-info"
  >
    Éditer
  </button>

  <button
    *ngIf="currentUser && !currentChannel!.default && !isChannelNameEdit"
    class="btn btn-danger"
    (click)="deleteChannel()"
    [disabled]="isChannelNameEdit"
  >
    Supprimer le canal
  </button>
</div>
<hr />
<div *ngIf="messages.length > 0">
  <div *ngFor="let message of messages">
    <app-view-message [message]="message"></app-view-message>
  </div>
</div>

<app-add-message></app-add-message>
